CMakeLists.txt.user
orbslam2/Examples/GHC/myslam
orbslam2/Examples/Monocular/mono_euroc
orbslam2/Examples/Monocular/mono_kitti
orbslam2/Examples/Monocular/mono_tum
orbslam2/Examples/RGB-D/rgbd_tum
orbslam2/Examples/Stereo/stereo_euroc
orbslam2/Examples/Stereo/stereo_kitti
KeyFrameTrajectory.txt
CameraTrajectory.txt
lib/
bin/
ORBvoc.txt
ORBvoc.txt.tar.gz

*.mp4

build/
*-build-*
*.swp
.idea/
*~

.tags*
tags

devel/
.catkin_workspace
platforms/ros_wrapper/src/CMakeLists.txt

.catkin_tools/
logs/
g2o/
.vscode/
