<?xml version="1.0"?>

<launch>

  <arg name="orbvoc" default="$(find orbslam2_cg)/orbslam2/Vocabulary/ORBvoc.txt" />
  <arg name="config" default="$(find orbslam2_cg)/orbslam2/Examples/Monocular/TUM1.yaml" />

  <node name="orbslam2_mono_line" pkg="orbslam2_cg" type="MonoLine" args="$(arg orbvoc) $(arg config)" output="screen">
    <remap from="/camera/image_raw" to="/camera/rgb/image_color" />
  </node>

</launch>
