<?xml version="1.0"?>

<launch>

  <arg name="orbvoc" default="$(find orbslam2_cg)/orbslam2/Vocabulary/ORBvoc.txt" />
  <arg name="config" default="$(find orbslam2_cg)/orbslam2/Examples/Stereo/MYNTEYE-S1030.yaml" />

  <node name="orbslam2_rgbd" pkg="orbslam2_cg" type="Stereo" args="$(arg orbvoc) $(arg config) true">
    <remap from="/camera/left/image_raw"  to="/mynteye/left/image_raw" />
    <remap from="/camera/right/image_raw" to="/mynteye/right/image_raw" />
  </node>

</launch>
