<?xml version="1.0"?>

<launch>

  <arg name="orbvoc" default="$(find orbslam2_cg)/orbslam2/Vocabulary/ORBvoc.txt" />
  <arg name="config" default="$(find orbslam2_cg)/orbslam2/Examples/Monocular/TUM1.yaml" />

  <node name="orbslam2_rgbd" pkg="orbslam2_cg" type="RGBD" args="$(arg orbvoc) $(arg config)">
    <remap from="/camera/rgb/image_raw"              to="/camera/rgb/image_color" />
    <remap from="/camera/depth_registered/image_raw" to="/camera/depth/image" />
  </node>

</launch>
