<?xml version="1.0"?>

<launch>

  <arg name="orbvoc" default="$(find ORB_SLAM2)/../../../Vocabulary/ORBvoc.txt" />
  <arg name="config" default="$(find ORB_SLAM2)/../../Stereo/MYNTEYE-S1030.yaml" />

  <node name="orbslam2_rgbd" pkg="ORB_SLAM2" type="Stereo" args="$(arg orbvoc) $(arg config) true">
    <remap from="/camera/left/image_raw"  to="/mynteye/left/image_raw" />
    <remap from="/camera/right/image_raw" to="/mynteye/right/image_raw" />
  </node>

</launch>
