<?xml version="1.0"?>

<launch>
  
  <arg name="orbvoc" default="$(find ORB_SLAM2)/../../../Vocabulary/ORBvoc.txt" />
  <arg name="config" default="$(find ORB_SLAM2)/../../Monocular/TUM1.yaml" />

  <node name="orbslam2_mono_line" pkg="ORB_SLAM2" type="MonoLine" args="$(arg orbvoc) $(arg config)" output="screen">
    <remap from="/camera/image_raw" to="/camera/rgb/image_color" />
  </node>

</launch>
